html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
#dados{
  margin-top: -2%;
}

hr{

  border-color: #6017ad;
  opacity: 0.2;
}
 
#space{
  color: #ffffff;
  opacity: 0.0;
}

button{

  color: #ff004c;
  background-color: #ffffff;
  border: 0px ;
  font-size: 0.9em;
  font-weight: 700;
}

 
